body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ul {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 0;
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
}

/* Hide scrollbar for all browsers */
.ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Hide scrollbar for Firefox */
.ul {
  scrollbar-width: none;
}